.facilities__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 42px;
  padding: 0 20px 60px;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
