.footer__button {
  border: none;
  border-radius: 0 12px 12px 0;
  padding: 25px;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  background-color: #65aef2;
}
