.logo {
  position: relative;
  display: block;
  font-family: Inika, serif;
  font-weight: 700;
  text-align: center;
}

.logo::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-image: url("../../../icons/logo.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 60%;
}
